<h3>Atualizar Pessoa</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()" [formGroup]="formPessoa">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" name="nome">
    </div>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" formControlName="cpf" name="cpf">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" formControlName="email" name="email">
    </div>

    <div class="form-group">
      <label for="naturalidade">Naturalidade</label>
      <input type="text" class="form-control" id="naturalidade" formControlName="naturalidade" name="naturalidade">
    </div>

    <div class="form-group">
      <label for="nacionalidade">Nacionalidade</label>
      <input type="text" class="form-control" id="nacionalidade" formControlName="nacionalidade" name="nacionalidade">
    </div>

    <button type="submit" class="btn btn-success">Submeter</button>
  </form>
</div>
